@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

body {
    min-width: 1000px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Neucha', cursive;
    color: black;
    background-color: #43434b;
}

.container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #8e8790;
}

.index-header {
    padding: 10px;
    background-color: #a8a6ba;
}

.index-h1 {
    text-align: center;
}

.index-main {
    padding: 5px;
    background-color: #cfcdcd;
    border-top: 1px solid transparent;
}

.plan-list {
    /* задаю позиционирование нумерации внутри. убираю дефолтную нумерацию и заменяю ее своей со стилями через псевдоэлемент ::before. дефолтная нумерация располагала цифры внизу контейнера при большом блоке текста и это выглядело стремно */
    margin: 10px;
    list-style-position: inside;
    list-style: none;
    counter-reset: new-number;
    padding: 0;
}

.sub-list {
    margin: 15px;
    margin-top: 5px;
    list-style-position: inside;
    padding: 0;
    list-style: none;
}

.sub-item {
    position: relative;
    background-color: #d5dfda;
    padding: 10px 0 10px 10px;
    margin-bottom: 5px;
}

.sub-item::before {
    content: '- ';
}

.plan-list-item {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f4f6f5;
    white-space: nowrap;
    counter-increment: new-number;
}

.plan-list-item::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #a8a6ba;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    content: counter(new-number);
    vertical-align: top;
}

.plan-list-item p {
    display: inline-block;
    max-width: 420px;
    margin: 0;
    margin: 0 20px;
    padding: 0;
    white-space: pre-line;
    overflow-x: hidden; /*прячу сплошной текст, вылезающий за рамки*/
    vertical-align: bottom;
}

textarea {
    resize: none;
}

.close-button {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    line-height: 10px;
    padding: 6px;
    margin: 0;
    /* height: 20px;
    width: 20px; */
    border: none;
    background-color: rgba(134, 82, 82, 0.404);
    color: #3a3a3a;
}

.close-button:hover {
    background-color: rgba(134, 82, 82, 0.616);
    color: black;
}

.close-button:active {
    background-color: rgb(134, 82, 82);
}

.close-button:disabled {
    background-color: rgba(134, 82, 82, 0.171);
    color: rgba(0, 0, 0, 0.3);
}

/* поставь спрайты на кнопки! */
.edit-button {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 20px;
    width: 20px;
    border: none;
    background-color: rgba(134, 82, 82, 0.404);
    color: #3a3a3a;
}

.add-button {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 20px;
    width: 20px;
    border: none;
    background-color: #8e8790; 
}

.sub-close-button {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 20px;
    width: 20px;
    border: none;
    background-color: lightcoral;
}

.sub-edit-button {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 20px;
    width: 20px;
    border: none;
    background-color: lightskyblue;
}

.planner-form {
    padding: 10px;
    background-color: #a8a6ba;
}

footer {
    margin-top: 20px;
    text-align: right;
    font-size: 16px;
}
