@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

body {
    min-width: 1000px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Neucha', cursive;
    color: black;
    background-color: #43434b;
}

.container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #8e8790;
}

.index-header {
    padding: 10px;
    background-color: #a8a6ba;
}

.index-h1 {
    text-align: center;
}

.index-main {
    padding: 5px;
    background-color: #cfcdcd;
    border-top: 1px solid transparent;
}

.plan-list {
    /* задаю позиционирование нумерации внутри */
    margin: 10px;
    list-style-position: inside;
    padding: 0;
}

.plan-list-item {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f4f6f5;
}

.close-button {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    line-height: 10px;
    padding: 5px;
    margin: 0;
    /* height: 20px;
    width: 20px; */
    border: none;
    background-color: #a37d7d;
    color: black;
}

.planner-form {
    padding: 10px;
    background-color: #a8a6ba;
}

footer {
    margin-top: 20px;
    text-align: right;
    font-size: 16px;
}
