.task {
    @apply flex items-start;
    counter-increment: new-number;

    &__sidebar {
        @apply flex flex-col relative;
        
        &::before {
            @apply
                absolute
                top-0
                left-0
                w-5
                h-5
                text-center
                text-base
                leading-5
                text-white
                font-light;
            content: counter(new-number);
            background-color: mediumpurple;
        }
    }

    &__state {
        @apply
            flex
            items-center
            justify-center
            w-5
            h-5
            mt-5
            text-white;
        background-color: burlywood;

        svg {
            @apply w-3.5 h-3.5;
        }
    }

    &__text {
        @apply
            flex-1
            font-light
            text-sm 
            py-2.5 
            px-3
            bg-white;
    }

    &__options {
        @apply
            grid
            place-items-center 
            w-10
            h-10
            text-white;
        background-color: cornflowerblue;

        svg {
            @apply w-5 h-5;
        }
    }
}